* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 24px;
	font-family: 'Montserrat', sans-serif;
}

input, button {
  font-size: 14px;
}

.head_bar {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.head_bar .head_bar__title {
	font-size: 1.5rem;
	font-weight: 700;
}

main {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left-content {
	width: 40%;
}

.right-content {
	width: 60%;
	margin-left: 30px;
}

.input_section {
	padding: 30px;
	display: flex;
	flex-direction: column;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
}

.input_section > h2 {
	text-align: center;
	font-size: 18px;
	color: black;
	margin-bottom: 10px;
}

.input_section > form > .input {
  margin: 10px 0;
}

.input_section > form > button {
	background-color: cornflowerblue;
	color: white;
	border: 0;
	font-size: 14px;
	border-radius: 15px;
	display: block;
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	cursor: pointer;
}

.input_section > #resetBook {
	background-color: darksalmon;
	color: white;
	border: 0;
	font-size: 14px;
	border-radius: 15px;
	display: block;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > label {
	color: black;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}

.input_section > form > .input > input {
	display: block;
	width: 100%;
	font-size: 14px;
	padding: 10px 15px;
	border-radius: 10px;
	border: 1px solid gray;
}

.input_section > form > .input_inline {
	margin: 12px 0;
	display: flex;
	font-size: 14px;
	color: black;
	align-items: center;
}

.input_section > form > .input_inline > label {
	color: black;
	font-weight: bold;
	margin-right: 10px;
}

.search_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

.search_section > form {
	width: 100%;
	display: flex;
	flex-direction:row;
}

.search_section > form > input {
	padding: 10px 15px;
	border-radius: 10px;
	border: 1px solid gray;
	width: 100%;
}

.search_section .btn-wrapper {
	display: flex;
	width: 30%;
	margin-left: 10px;
}

.search_section .btn-wrapper > button {
	background-color: cornflowerblue;
	color: white;
	border: 0;
	font-size: 12px;
	border-radius: 15px;
	display: block;
	width: 100%;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 5px;
}

.search_section .btn-wrapper > #reset {
	background-color: rgb(235, 13, 13);
}

.book_shelf {
	margin: 16px 0 0 0;
	border: 1px solid #E5E5E5;
	padding: 30px;
	border-radius: 10px;
}

.book_shelf > h2 {
  color: black;
	font-size: 18px;
}

.book_shelf > .book_list > .book_item {
	padding: 20px 30px;
	background-color: #FFFFFF;
	border: 1px solid #eae9f0;
	border-radius: 10px;
	margin: 20px 0;
}

.book_shelf > .book_list > .book_item:hover {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border: 0;
	cursor: pointer;
}

.book_shelf > .book_list > .book_item > h3 {
	margin: 3px 0;
	font-size: 16px;
}
.book_shelf > .book_list > .book_item > p, span {
	margin: 3px 0;
	font-size: 14px;
}
.book_shelf > .book_list > .book_item > .action {
	margin-top: 10px;
}
.book_shelf > .book_list > .book_item > .action > button {
	border: 0;
	padding: 5px 12px;
	margin: 0 8px 0 0;
	border-radius: 10px;
	font-size: 12px;
	cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
	background-color: darkgreen;
	color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
	background-color: darkred;
	color: white;
}

footer {
	max-width: 1300px;
	margin-top: 60px !important;
	margin: 30px auto;
	font-size: 14px;
	text-align: center;
	padding: 0 20px;
}

footer small {
	font-size: 12px;
	line-height: 10px !important;
	max-width: 50%;
}

/* responsive */
@media (max-width: 575.98px) {
	main {
		display: flex;
		flex-direction: column;
	}
	.left-content {
		width: 100%;
		padding: 20px;
	}

	.right-content {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
		padding: 20px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	main {
		display: flex;
		flex-direction: column;
	}
	.left-content {
		width: 100%;
		padding: 20px;
	}

	.right-content {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
		padding: 20px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	main {
		display: flex;
		flex-direction: column;
	}
	.left-content {
		width: 100%;
		padding: 20px;
	}

	.right-content {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
		padding: 20px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	main {
		display: flex;
		flex-direction: column;
	}
	.left-content {
		width: 100%;
		padding: 20px;
	}

	.right-content {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
		padding: 20px;
	}
}
